@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-animation {
  animation: loader 1s linear infinite;
}

@keyframes loader {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(500%);
  }
}
